<!DOCTYPE html>
<html>
  <head>
    <title>Madlib - Home</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Mad Libs</h1>
      <h2>Choose your own Mad Libs</h2>
      <form action="/general">
      <button type="submit" class="btn btn-info">Basic Mad Libs</button>
      </form>
      <br>
      <form action="/formHalloween">
        <button type="submit" class="btn btn-warning"> Halloween Mad libs</button>
      </form>
    </div>
  </body>
</html>