<!DOCTYPE html>
<html>
  <head>
    <title>Madlib Results</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Mad Libs</h1>
      <p>It was a @Model.Adjective day and you saw a @Model.Noun walking @Model.Adverb around the street! Wow!"</p>
      <a href="/"><button type="button" class="btn btn-info">Play Again</button></a>
    </div>
  </body>
</html>